 h1{
                color: rgb(8, 214, 111); font-size: 35px;
            }
 p{
                color: black; font-family: Arial, Helvetica, sans-serif;
            }
 img{
                border: 2px solid green;
            }