 h1{
                color: rgb(97, 245, 171); font-size: 35px;
            }
 p{
                color: rgb(255, 0, 0); font-family: Arial, Helvetica, sans-serif;
            }
 img{
                border: 2px solid rgb(9, 231, 9);
            }